:root {
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --g3: rgb(253, 216, 53);
}

body {
    background: linear-gradient(
    130deg,
    transparent 0% 33%,
    var(--g1) 66%,
    var(--g2) 83.5%,
    var(--g3) 100%
    );
}

.about-title h1 {
    padding: 2rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    color: black;
}

.contributor-container {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 5rem;
    grid-auto-flow: row;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 5rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.contributor-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    padding-top: 1rem;
    padding-left: 1rem;
}

div .card {
    transition: all 0.2s ease-in-out;
}

div .card:hover {
    background-color: white;
    box-shadow: 0 0 10px rgb(120, 120, 120);
}
